# Ignore the entire spider_date/ directory
spider_data/
spider/
NatSQL/

.ipynb_checkpoints/
__pycache__/

# Ignore files
.DS_Store
.env
*.json
*.jsonl
*.sql
*.txt
*.csv
*.pyc
*.pkl
*.sqlite


# DON'T ignore:
!requirements.txt
!data/bronze/schema.sql
!data/silver/schema.sql
!data/gold/schema.sql
