# Ignore folders
database/spider/
data/adapters/
experiments/
legacy/
.ipynb_checkpoints/
__pycache__/
.venv/
.claude/

# Ignore files
CLAUDE.md
.DS_Store
.env
*.json
*.jsonl
*.sql
*.txt
*.csv
*.pyc
*.pkl
*.sqlite
*.db
*.safetensors

# DON'T ignore:
!config/prompt/*.json
!database/OpenText2SQL.sql
!database/embedding.sql
!src/ml/models.json
