# Ignore the entire spider_date/ directory
spider_data/
spider/
NatSQL/

.ipynb_checkpoints/
__pycache__/

# Ignore files
.DS_Store
.env
*.json
*.jsonl
*.sql
*.txt
*.csv
*.pyc
*.pkl
*.sqlite


# DON'T ignore:
!requirements.txt
!database/bronze/schema.sql
!database/silver/schema.sql
!database/gold/schema.sql
