Given the following Sqlite SQL tables, with their properties:
{{refined_simplified_ddl}}
{% if refined_foreign_keys %}Foreign key information of SQLite tables, used for table joins:
{{refined_foreign_keys}}
{% endif %}Answer the question by SQLite SQL query only and with no explanation. You must minimize SQL execution time while ensuring correctness.
{{question}}
